version: '3.8'

services:
  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:latest
    container_name: dbt-test
    hostname: dbt
    working_dir: /usr/app/dbt
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ../../data_volume/dbt/dbt_project:/usr/app/dbt
      - ../../data_volume/dbt/profiles:/root/.dbt
    networks:
      - ldl-net
    entrypoint: ["/bin/sh", "-c", "tail -f /dev/null"]
    restart: unless-stopped

networks:
  ldl-net:
    external: true
    name: ldl-net
