services:
  python-scripts:
    build:
      context: .
      dockerfile: Dockerfile
    image: python-3.12-slim-uber:latest
    container_name: python-scripts
    hostname: python-scripts
    working_dir: /workspace/scripts
    environment:
      - TZ=Asia/Shanghai
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/workspace/scripts
      - ../data_volume:/workspace/data_volume
      - ../datawarehouse:/workspace/datawarehouse
    networks:
      - ldl-net
    restart: unless-stopped

networks:
  ldl-net:
    external: true
    name: ldl-net
