# Airflow UID
AIRFLOW_UID=50000

# Airflow Project Directory
AIRFLOW_PROJ_DIR=.

# Airflow Web UI Credentials
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
_AIRFLOW_WWW_USER_EMAIL=airflow@example.com
_AIRFLOW_WWW_USER_FIRSTNAME=Airflow
_AIRFLOW_WWW_USER_LASTNAME=User
